.person img, .person svg{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 20px;
    overflow-y: scroll;
    max-height: 200px;
}

.person {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width : 400px){
    .person img, .person svg{
        height: 40px;
        width: 40px;
    }
    .follow-container{
        column-gap: 0px;
        row-gap: 0px;
    }
}