.user-post-image img, .user-post-image svg{
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name-date{
    display: flex;
    flex-direction: column;
}

.post-wrapper{
    margin: 0 30px;
    box-shadow: 0px 0px 4px 1px rgb(51, 50, 50);
    padding: 10px 50px;
    background-color: white ;
    margin-bottom: 20px;
}

.user-post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(205, 219, 241);
    padding: 10px;
}

.user-name-date{
    font-size: 14px;
    margin-left: 10px;
}

.user-name-date span{
    margin-bottom: 5px;
}

.image-wrapper{
    width: 100%;
}

.image-wrapper img{
    object-fit: cover;
    width: 100%;
    border: 1px solid rgb(210, 213, 218);
}

.user-post-content{
    padding : 10px ;
    border: rgb(205, 219, 241) solid 2px; 
}

.user-post-content p{
    margin-bottom: 10px;
    font-size: 14px;
}
.post-actions{
    margin-top: 15px;
    display : flex ;
    align-items : center ;
}

.post-actions button, .delete-icon button {
    border: none;
    cursor: pointer;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.delete-icon button{
    background-color: rgb(205, 219, 241);
}
.delete-icon button:hover{
    background-color: rgb(240, 220, 220);
}

.post-actions button svg{
    display : block ;
    margin : 0 auto ;
}


.post-actions button:hover{
    color: rgb(218, 19, 19);
    background-color: rgb(224, 222, 222);
}

.like-wrapper{
    margin-right : 10px ;
}


.like-wrapper, .comment-wrapper{
    position : relative ;
}

.like-wrapper span, .comment-wrapper span{
    position : absolute ;
    bottom : -4px ;
    right : 2px ; 
    font-size : 13px ;
}

.post-image-name{
    display: flex;
    align-items: center;
}



@media screen and (max-width : 400px) {
    .post-wrapper{
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    } 
}