.popupBox-background {
    background: #00000050;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.popupBox{
    background-color: white;
    width: 320px;
    height: 160px;
    margin: 230px auto;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.popupBox h2{
    margin-bottom: 20px;
}

.popupBox button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    background-color: rgb(74, 74, 221);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

