.follow-buttons button{
    border: none;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
}

.follow-buttons  .unfollow-btn{
    background-color: rgb(21, 33, 143); 
}

.follow-buttons  .follow-btn{
    background-color: rgb(206, 161, 37);
}